<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database setting -->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
<!--        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->

        <!-- Information to database -->
        <property name="hibernate.connection.url">
            jdbc:sqlserver://den1.mssql6.gear.host:1433;database=shoponline;encrypt=true;trustServerCertificate=true
        </property>
        <property name="hibernate.connection.username">shoponline</property>
        <property name="hibernate.connection.password">$Ss25111211</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.connection.pool_size">4</property>

        <!-- Enable Hibernate is automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Show all executed SQL to console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

<!--        <property name="hibernate.column_ordering_strategy">default</property>-->
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <!-- Entity mapping -->
        <mapping class="entity.User" />
        <mapping class="entity.User2" />
        <mapping class="entity.UserDetail" />

    </session-factory>
</hibernate-configuration>